.site-footer {
    background: url(#{$cdn_img}/wallpapers/jjcom-zeah-hd.jpg) no-repeat scroll right 0 / contain  #D6D6D6;
    border-top: 5px solid #fff;
    opacity: 0;
    position: relative;
    z-index: 125;
    a {
        color: #aa00ff;
        &:hover { color: #d480ff; }
    }
    .batch {
        display: none;
    }
}
.site-footer.loaded {
    opacity: 1;
}
.site-footer.show {
/*    position: absolute;
    top: 300px;*/
    .batch {
        color: #f00;
        display: inline-block;
        vertical-align: middle;
    }
}
.site-footer-heading {
    width: 15rem;
    left: 10%;
    background: #fff;
    cursor: pointer;
    font-size: 1rem;
    text-align: center;
    padding: .25rem 1rem;
    position: absolute;
    top: -2rem;
}
.site-footer-content-wrapper {
    background: rgba(50,0,75,.6);
    overflow: auto;
}
.site-footer-content {
    color: #fff;
    font-size: 2rem;
    margin: 0 auto;
    min-width: 980px;
    text-shadow: 0 1px 0 #f2f2f2;
    padding: 2rem;
    width: 60%;
}