.modal {
    left: 0;
    position: fixed;
    top: 0;
    width: 100%;
    height: 100%;
    z-index: 99;
    overflow: hidden;
}
.modal-positioning {
    position: relative;
    height: 100%
}
.modal-mask {
    width: 100%;
    height: 100%;
    background: rgba(255, 255, 255, .6);
    position: absolute;
    top: 60px;
    left: 0;
    z-index: 0;
}
.modal-content-wrap {
    padding: 5px;
    position: absolute;
    max-height: 80%;
    width: 50%;
    overflow: hidden;
    margin: auto;
    top: 0; left: 0; bottom: 0; right: 0;
    z-index: 1;
}
.modal-close {
    color: #FF0000;
    cursor: pointer;
    height: 30px;
    padding: 5px;
    position: absolute;
    right: 0;
    text-align: center;
    top: 0;
    width: 30px;
    z-index: 300;
}

.modal-content {
    height: auto;
    max-height: 100%;
    width: 100%;
    overflow-y: auto;
    background: rgba(255, 255, 255, 1);
    box-shadow: 0 1px 1px;
    border: 1px solid #000;
    transition: 1s all;
    .loading {
        background-color: #FFFFFF;
        background-position: 5px 5px;
        // border: 1px solid purple;
        border-radius: 3px;
        box-shadow: 0 1px 1px;
        display: block;
        height: 58px;
        margin: 0;
        padding: 0 0 0 58px;
        min-width: 240px;
        // width: 22%;
        width: 240px;
    }
    .loading-message {
        display: block;
        line-height: 4;
    }
}

.modal--loading {
    .modal-content-wrap {
        background: none;
        max-width: 240px;
        width: auto;
    }
    .modal-content {
        background: none;
        overflow: hidden;
    }
}