.user-nav {
    cursor: pointer;
    line-height: 1;
    opacity: 0.8;
    position: absolute;
    right: 17px; /* because scrollbar.. */
    text-align: right;
    top: 60px;
    min-height: 125px;
    width: 23%;
    z-index: 250;
    &:hover {
      opacity: 1;
    }
}
.user-status {
  padding: 20px;
  text-align: center;
}
.user-status-link {
  color: rgba(50, 0, 75, .9);
  &:hover {
    color: rgba(50, 0, 75, 1);
  }
  &:active {
    color: rgba(50, 0, 75, .6);
  }
}
.user-status-photo {
  display: inline-block;
  margin-right: 8px;
  vertical-align: middle;
}
.user-controls {
  display: none;
  padding: 2px;
  position: relative;
  background: #fff;
  transition: all 1s;
  visibility: hidden;
}

.user-module:hover .user-controls {
  display: block;
  visibility: visible;
  box-shadow: 0 1px 1px rgba(0,0,0,.4);
  // box-shadow: 0 2px 2px rgba(0,0,0,.8);
}

.user-nav-link {
  display: block;
  line-height: 2;
  padding: 5px 10px;
  text-align: center;
  color: #800080;
  position: relative;
  z-index: 5;
  &:hover {
    background: rgba(0, 0, 0, .1);
    color: rgba(50, 0, 75, .9);
  }
  &:active {
    background: (0, 0, 0, .3);
    color: rgba(50, 0, 75, .6);
  }
}

.user-module {
  .btn-green { display: inline-block; margin: 5px 5px 0 0; }
  .btn-red { padding: 5px 10px; box-shadow: none; }
  .btn-disconnect {
    background: #eee;
    margin: 1rem auto .5rem;
    padding: 0;
    width: 25%;
  }
}
.user-module-triangle {
    background: #fff;
    display: block;
    height: 20px;
    left: 48%;
    position: absolute;
    top: -10px;
    transform: rotate(45deg);
    -webkit-transform:rotate(45deg);
    width: 20px;
}

.user-nav .team-controls {
    padding-top: 34px;
    position: absolute;
    left: .5rem;
    top: 0;
}
.team-nav-link {
    color: #222222;
    font-weight: bold;
    &:hover {
      color: #004E77;
    }
}
.user-nav .admin-controls {
    padding-top: 34px;
    position: absolute;
    right: .5rem;
    top: 0;
}
.admin-nav-link {
    color: #222222;
    font-weight: bold;
    &:hover {
      color: #f00;
    }
}
.user-info-section {
    padding: 0 0 1rem;
}
.user-info-label {
  color: rgba(0,0,0,.5);
}
.user-info-input {
    background: rgba(255, 255, 255, .8);
    border: 1px solid rgba(0,0,0,.4);
    border-radius: 3px;
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.5) inset;
    padding: .5rem;
}
.user-disconnected .modal-content, .user-connected .modal-content {
    padding: 2rem;
}
.user-disconnected .modal-content-wrap, .user-connected .modal-content-wrap {
    max-width: 480px;
    text-align: center;
}
.btn-user-disconnect {
    background: #ccc;
    &:hover {
        background: #ff0000;
    }
}
.user-connect-email .modal-content-wrap {
    max-width: 480px;
}
.modal-form {
  text-align: left;
  padding-bottom: 1rem;
}
.modal-input {
  display: block;
  width: 100%;
  padding: .5rem;
  margin-bottom: 1rem;
}
.modal-link {
  color: #999;
  &:hover { color: #004E77; }
}