$cdn: "https://googledrive.com/host/0B_9a_WMIXbTtNVhHd1J0WDZHd28";
$cdn_img: "https://googledrive.com/host/0B_9a_WMIXbTtNVhHd1J0WDZHd28/img/shared";
$break-small: 320px;
$break-medium-small: 800px;
$break-medium: 1000px;
$break-large: 1200px;
$break-xlarge: 1400px;

@import url(https://fonts.googleapis.com/css?family=Open+Sans:400,300,600,700,800);
@import "global/partials/fonts";
@import "global/partials/icons";
@import "global/partials/buttons";

@import "global/base";
@import "global/grid";
// @import "global/header";
@import "master/header";
@import "global/search";
@import "global/user";
@import "global/main";
@import "global/modal";
@import "global/footer";