/* ==========================================================================
   Ask a question
   ========================================================================== */
/* Container
   ========================================================================== */
#question-ask {
     margin: 0px auto;
     padding: 20px;
     width: 576px;
}

/* Layout
   ========================================================================== */
#question-ask div { display: none; }
#question-author-info div { float: right; width: 19%; }
#question-ask hgroup * { display: inline-block; }
#question-ask h2 {
    background: none repeat scroll 0 0 #000000;
    color: #FFFFFF;
    margin-right: 30px;
    padding: 0.5em;
}

#question-ask h3 {
		color: #333;
    line-height: 24px;
}
.question-status {
		display: none;
    font-family: modernpics,sans-serif;
    font-size: 2em;
    position: absolute;
    right: 10px;
    top: 10px;
}
#question-ask .good { color: green; display: none; }
#question-ask.valid .good { display: block; }
#question-ask .bad { color: red; }
#question-ask.valid .bad { display: none; }
#question-ask .question-wrap {
    display: block;
    position: relative;
    margin-bottom: 1em;
}

/* help/tooltip
   ========================================================================== */
#question-ask .help {
    color: #666666;
    font-size: 1em;
    padding: 12px 0;
    text-align: right;
    width: 215px;
}
#question-ask .help:hover { color: #222; cursor: help; }
#question-ask .help span { font-family: modernpics; font-size: 2em; display: block; float: right; margin-top: -7px; }

.help ul
{
	padding: 10px;
	list-style-type: square;
}
.help li {
    line-height: 25px;
    width: 100%;
    text-align: left;
}

.help .tooltip
{
	left: 315px;
	top: 65px;
}

#question-ask .tooltip span {
    display: inline-block;
    float: left;
    font-size: 1.4em;
    margin: -3px 10px 0 0;
}

.help .tooltip:before {
	border-color: transparent transparent #000000 transparent;
	border-width: 6px;
	top: -12px;
	left: auto;
	right: 11%;
}

.help .tooltip a { color: #06C; }
.help .tooltip a:hover { color: #06F; margin-bottom: 1px; }

.character-count {
    bottom: 0;
    color: #CCCCCC;
    font-size: 2em;
    left: 10px;
    position: absolute;
}

#question-ask #question-subscribe div label {
     display: block;
     float: left;
     margin-left: 10px;
     width: 40px;
}

#question-subscribe em {
     display: block;
     line-height: 20px;
     padding: 10px;
}
/* Form
   ========================================================================== */
#question-ask textarea {
		-webkit-box-sizing: border-box; /* Allow padding & borders on grids without breaking. IE8+ */
		-moz-box-sizing: border-box;
		box-sizing: border-box;
    margin-top: 1em;
    padding: 15px 25px 30px 15px;
    width: 100%;
}

#question-ask fieldset {
    border: 1px solid #EEEEEE;
    margin-bottom: 1em;
    padding: 20px;
}

#question-ask label {
     display: inline-block;
     margin-right: 20px;
}

#question-ask input[type="radio"] {
     display: inline-block;
}

#question-subscribe > fieldset {
     padding: 20px;
     width: 536px;
}

#question-ask > button[type="submit"] {
    background: none repeat scroll 0 0 #ccc;
    border: medium none;
    color: #FFFFFF;
    padding: 10px 25px;
}
#question-ask.valid > button { background: #42d15d; }

#question-subscribe input[type="email"] {
     width: 300px;
}

/* Thanks
   ========================================================================== */
#question-ask .thanks {
    display: block;
}

.thanks > p {
    padding: 2em 1em;
}

/* No
   ========================================================================== */

#question-ask.valid .no { display: none; }

#question-ask .no {
    font-size: 3em;
    right: 10%;
    padding: 10px;
    position: absolute;
    bottom: 10%;
}
.no span {
    color: white;
    font-size: 1.5em;
    font-weight: 700;
    left: 80px;
    position: absolute;
    text-shadow: 3px 3px 0 #000000, -1px -1px 0 #000000, 1px -1px 0 #000000, -1px 1px 0 #000000, 1px 1px 0 #000000;
    top: 123px;
    z-index: 10;
}
.no .stop-1 {
    border-bottom: 104px solid transparent;
    border-right: 60px solid #CC0000;
    border-top: 104px solid transparent;
    float: left;
}
.no .stop-2 {
    background-color: #CC0000;
    float: left;
    height: 208px;
    width: 120px;
}
.no .stop-3 {
    border-bottom: 104px solid transparent;
    border-left: 60px solid #CC0000;
    border-top: 104px solid transparent;
    float: left;
}

#question-ask .stops, #question-ask .stops * {
     display: block;
}

.stops {
    height: 300px;
    left: -65px;
    overflow: hidden;
    position: absolute;
    top: -60px;
    z-index: 1;
}

.stops i {
    color: red;
    font-family: modernpics;
    font-size: 10em;
    font-style: normal;
    margin-top: -180px;
}

.no > img {
     left: 28px;
     position: relative;
     top: -7px;
     z-index: 5;
}