.vote form h2 {
     background: none repeat scroll 0% 0% #EEEEEE;
     margin-bottom: 5px;
     padding: 10px;
}

.vote h2 label {
     text-decoration: underline;
}

.vote li {
    padding: 5px;
    text-transform: capitalize;
}

.vote button {
    font-size: 1.2em;
    margin-top: 0.5em;
    padding: 5px;
    text-transform: uppercase;
}
.vote p {
     font-size: 1.4em;
     line-height: 1.6em;
}

.vote [type="email"] {
     font-size: 18px;
     margin-top: 1em;
     padding: 10px;
     width: 50%;
}


.vote.thanks h2 {
    font-size: 2em;
    margin-top: 0.5em;
}