// .ask {
//     background: #999999;
//     display: inline-block;
//     padding: 4px;
//     position: relative;
//     vertical-align: top;
// }
// .ask a, .ask a:link, .ask a:visited {
//     background: none repeat scroll 0 0 #FFFFFF;
//     border-color: #222222;
//     border-image: none;
//     border-radius: 10px 10px 10px 10px;
//     border-style: solid;
//     border-width: 1px 1px 5px;
//     color: #000000;
//     display: block;
//     font-size: 36px;
//     font-weight: bold;
//     padding: 20px;
//     position: relative;
//     text-align: center;
//     text-transform: uppercase;
//     z-index: 20;
// }
// .ask:hover {
//     padding-bottom: 5px;
//     padding-top: 7px;
// }
// .ask:hover a, .ask:hover a:link, .ask:hover a:visited {
//     border-bottom: 1px solid;
// }

/* ==========================================================================
   Ask a question
   ========================================================================== */
/* Container
   ========================================================================== */
#question-ask {
     margin: 0px auto;
     padding: 20px;
     width: 576px;
     div {
        display: none;
     }
}

/* Layout
   ========================================================================== */
#question-author-info div { float: right; width: 19%; }
// #question-ask hgroup * { display: inline-block; }
// #question-ask h2 {
//     background: none repeat scroll 0 0 #000000;
//     color: #FFFFFF;
//     margin-right: 30px;
//     padding: 0.5em;
// }
// #question-ask h3 {
//     color: #333;
//     line-height: 24px;
// }
.ask {
  .question-wrap {
      display: block;
      position: relative;
  }
  .good { color: green; display: none; }
  .bad { color: red; }
}

/* help/tooltip
   ========================================================================== */
.ask .help {
    color: #666666;
    font-size: 1em;
    padding: 12px 0;
    text-align: right;
    width: 215px;
    &:hover {
        color: #222;
        cursor: help;
    }
    span {
        font-family: modernpics;
        font-size: 2em;
        display: block;
        float: right;
        margin-top: -7px;
    }
}
.help-list
{
  padding: 10px;
  list-style-type: square;
}
.help-list-item {
    line-height: 25px;
    width: 100%;
    text-align: left;
}

.help .tooltip
{
  left: 315px;
  top: 65px;
}

.ask .tooltip-message {
    display: inline-block;
    float: left;
    font-size: 1.4em;
    margin: -3px 10px 0 0;
}

.help .tooltip:before {
  border-color: transparent transparent #000000 transparent;
  border-width: 6px;
  top: -12px;
  left: auto;
  right: 11%;
}

.help .tooltip a { color: #06C; }
.help .tooltip a:hover { color: #06F; margin-bottom: 1px; }

#question-ask #question-subscribe div label {
     display: block;
     float: left;
     margin-left: 10px;
     width: 40px;
}

#question-subscribe em {
     display: block;
     line-height: 20px;
     padding: 10px;
}
/* Form
   ========================================================================== */


// #question-ask fieldset {
//     border: 1px solid #EEEEEE;
//     margin-bottom: 1em;
//     padding: 20px;
// }

// #question-ask label {
//      display: inline-block;
//      margin-right: 20px;
// }

// #question-ask input[type="radio"] {
//      display: inline-block;
// }

// #question-subscribe > fieldset {
//      padding: 20px;
//      width: 536px;
// }

/** header **/
.ask {
  height: 100%;
  overflow: hidden;
  padding: 4px;
  position: relative;
  width: 100%;
  .help {
    color: #fff;
    padding: 1rem 1rem 0 0;
    position: absolute;
    right: 0;
    top: 0;
    width: 445px;
    z-index: 100;
    &:hover {
      .ask-tooltip { display: block; z-index: 9000; }
    }
  }
}
.ask-header { height: 3rem; background: #800080; }
.ask-h {
  color: #FFFFFF;
  line-height: 1.75;
  margin: 0 0 0 1rem;
  text-shadow: none;
}

/** help/tooltip **/
.ask-tooltip {
    background: #000000;
    border-radius: 8px;
    display: none;
    padding: 1rem;
}
.help-list {
    list-style-type: square;
    padding: 10px;
}

/** form **/
.question-textarea {
  border: 1px solid #800080;
  border-top: none;
  box-shadow: 0 -2px 0 rgba(0, 0, 0, 0.3) inset;
  margin-top: 0;
  padding: 3rem 1rem;
  min-height: 18rem;
  width: 100%;
}
.btn-question-submit {
    background: #ccc;
    border: none;
    color: #FFFFFF;
    cursor: pointer;
    position: absolute;
    bottom: .5rem;
    right: .5rem;
}

/* No
   ========================================================================== */
.ask {
  .no {
    bottom: 0;
    height: 270px;
    position: absolute;
    right: 0;
    width: 230px;
    z-index: 150;
  }
}
.no { display: none; }
.no-message {
    bottom: 50px;
    color: #FFFFFF;
    font-size: 3rem;
    font-weight: 700;
    left: 65px;
    position: absolute;
    text-shadow: 3px 3px 0 #800080, -1px -1px 0 #800080, 1px -1px 0 #000000, -1px 1px 0 #800080, 1px 1px 0 #800080;
    z-index: 151;
}
.no .no-img {
    position: absolute;
    right: 0;
    top: 0;
    z-index: 5;
}
.stops {
  font-size: 3rem;
  bottom: 15px;
  height: 254px;
  position: absolute;
  right: 15px;
  z-index: 1;
}
.stops .modernpics {
    color: red;
    font-size: 18rem;
    text-shadow: 3px 3px 0 #800080, -1px -1px 0 #800080, 1px -1px 0 #800080, -1px 1px 0 #800080, 1px 1px 0 #800080;
}


/* State changes **/
.question-valid {
    left: .5rem;
    position: absolute;
    top: .5rem;
    .modernpics { font-size: 2rem; }
}
.character-count {
    bottom: 0;
    color: #CCCCCC;
    font-size: 2em;
    left: 10px;
    position: absolute;
}
.ask--valid {
  .good { display: block; }
  .bad { display: none; }
  .btn-question-submit { background: #42d15d; }
}

.question-submitted {
  display: none;
}

/* Thanks
   ========================================================================== */