#page-photos footer > button { /* more */
    background: none repeat scroll 0 0 #EEEEEE;
    border: 1px dashed #CCCCCC;
    margin: 1em 0;
    padding: 1em;
    width: 99%;
}

.photo {
     margin-top: 2em;
     letter-spacing: -.25em;
}
.photo:first-child {
     margin-top: 1em;
}

.photo ul * {
     -moz-box-sizing: border-box;
     box-sizing: border-box;
}
.photo div > ul {
     -moz-border-radius: 4px;
     border-radius: 4px 4px 4px 4px;
     border: 1px solid #EEEEEE;
     box-shadow: 0px 0px 12px #EEEEEE;
     display: inline-block;
     letter-spacing: -0.25em;
     width: 600px;
}

.photo div > ul > li:nth-child(n+2) {
     display: inline-block;
     letter-spacing: normal;
     padding: 0.25em 1em;
     width: 100%;
}

.photo ul input {
     margin: 0.5em 0px;
     padding: 0.25em;
     width: 100%;
}

.photo .display {
     background-position: center center;
     background-repeat: no-repeat;
     height: 600px;
     width: 600px;
}
.display > a {
    display: block;
    height: 100%;
    width: 100%;
}
.set { letter-spacing: -.25em;}
.set li {
    background-repeat: no-repeat;
    border: 1px solid #EEEEEE;
    box-shadow: 0px 0px 12px #EEEEEE;
    display: inline-block;
    letter-spacing: normal;
    margin-right: 37px;
    height: 75px;
    width: 75px;
}

.set li:nth-child(3n){
    margin-right: 0;
}