// v0.2
.site-sidebar-holder, .site-sidebar { margin-right: 0;}
.main-article { width: 80%; max-width: none; }
.main-sidebar { width: 20%; max-width: 240px; }
.limit-width--reading {
  max-width: none !important;
  text-align: center;
}