.site-header {
    // background: #111;
    background-color: rgba(0,0,0,.8);
    box-shadow: 0 2px 0 rgba(0,0,0,.3);
    height: 60px;
    padding-left: 24%;
    position: relative;
    z-index: 100;
}
@import "./partials/navs/primary-mini.scss";
@import "./partials/navs/primary.scss";