.login { background: #000;}

.user-login > article {
    border: 1px solid #CCCCCC;
    box-shadow: 0 0 2px #CCCCCC;
    padding: 20px;
}

.user-login h2:first-child {
    color: green;
}

.user-login form {
    letter-spacing: -0.25em;
    padding: 1rem;
}

.btn-wrap {
    background: rgba(0, 0, 0, 0.15);
    border-radius: 3px;
    box-shadow: 0 0 1px rgba(0, 0, 0, 0.15) inset;
    padding: 1em;
    text-align: center;
    margin: 1em;
}