/* navigation */
#page-resume nav { padding: 1em 0;}
#page-resume nav a {
    border: 2px solid #DDDDDD;
    cursor: pointer;
    display: inline-block;
    padding: 10px;
    position: relative;
    text-align: center;
    width: 8.3%;
}
#page-resume nav.fixed {
	box-sizing: border-box;
  -moz-box-sizing: border-box;
  padding: 1em;
  position: fixed;
  top: 7em;
  width: 25%;
  z-index: 101;
}
.fixed a { background: #fff;}
#page-resume nav.fixed a {
	box-sizing: border-box;
 -moz-box-sizing: border-box;
  margin-bottom: 0.25em;
  width: 100%;
}
#page-resume a:hover { background: #ddd; border: 2px solid #fff;}
#page-resume a:active { border: 1px solid #000000; padding: 11px;}

/* sections */
article { line-height: 1.6em; letter-spacing: -.25em;}
article > section { border-bottom: 1px dashed #ccc; padding: 20px 10px; letter-spacing: normal;}
article > section h2 { display: inline-block; width: 25%;}
article article { display: inline-block; vertical-align:  top; width: 74%; letter-spacing: normal;}
#experience article { width: 100%; margin-bottom: 1em;}

article > section:last-of-type { border: none; }

.btn {
    display: inline-block;
    padding: 0.5em;
    width: auto;
}

/* aside */
#page-resume aside {
    background: none repeat scroll 0 0 #CCCCCC;
    font-size: 1.5em;
    padding: 1em;
    text-align: right;
}

#page-resume aside * { display: inline-block;}
#page-resume aside p {
    letter-spacing: -0.25em;
    width: 100%;
}
#page-resume aside p > * { letter-spacing: normal; text-align: center;}
#page-resume aside span {
    width: 50%;
}
#page-resume aside a {
    width: 39%;
}

#page-resume aside.fixed {
    position: fixed;
    top: 0;
    width: 25%;
    z-index: 102;
}

#page-resume a.green {
    background-color: #87E55C;
    background-image: -moz-linear-gradient(center top , #87E55C, #62A942);
    border: 1px solid #62A942;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.1);
}
#page-resume a.green:hover {
    background-color: #48852C;
    background-image: -moz-linear-gradient(center top , #87E55C, #48852C);
    border: 1px solid #48852C;
    color: #FFFFFF;
    text-shadow: 0 1px rgba(0, 0, 0, 0.3);
}
#page-resume a.green:active {
    background-color: #48852C;
    background-image: -moz-linear-gradient(center top , #87E55C, #48852C);
    box-shadow: 0 1px 2px rgba(0, 0, 0, 0.3) inset;
}