.artwork {
  padding: 0 5%;
    .art {
        cursor: pointer;
        display: inline-block;
        border: 3px solid #fff;
        box-shadow: 0 0 2px rgba(0,0,0,.3);
        margin-right: 3.33%;
        margin-bottom: 10px;
        width: auto;
        min-width: 10%;
        max-width: 30%;
        vertical-align: middle;
        &:hover {
            box-shadow: 0 0 2px rgba(50, 0, 75, 0.9);
        }
    }
    .art img {
      display: block;
      width: 100%;
    }
    .full {
        width: auto;
        max-width: 60%; }
}

.art-widget .col {
  background-position: left center;
  background-repeat:no-repeat;
  background-size:cover;
  width: 33.33%;
  height: 100px;
}
.art-widget .description {
  display: none;
}