.contact-message-wrap {
  box-shadow: 0 10px 5px rgba(0,0,0,.4);
  background: #fff;
  border: 1px solid #000;
  padding: 2px;
  position: relative;
  transition: all 0.3s cubic-bezier(0.25, 0.46, 0.45, 0.94) 0s;
}
.contact-message-wrap {
  .mask {
    display: none;
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.4);
    height: 100%;
    left: 0;
    position: absolute;
    top: 0;
    width: 100%;
  }
  .message {
    display: none;
    background: #FFFFFF;
    box-shadow: 0 10px 5px rgba(0, 0, 0, .4);
    left: 25%;
    position: absolute;
    text-align: center;
    top: 50%;
    width: 50%;
  }
}
.contact-message {
  // background: rgba(0,0,0,.1);
  // border: 1px solid purple;
  line-height: 1;
  margin:0;
}
.contact-message-wrap.sending {
  transform: scale(.9);
  -webkit-transform: scale(.9);
  transform-origin: 50% 50% 0;
  -webkit-transform-origin: 50% 50% 0;

  .message {
    display: block;
    transform: scale(1.5);
    -webkit-transform: scale(1.5);
    transform-origin: 50% 50% 0;
    -webkit-transform-origin: 50% 50% 0;
  }
  .mask {
    display: block;
  }
}

.message-title {
    // border-bottom: 1px solid;
    box-shadow: 0 -2px 0 inset;
    padding: .5rem 0 .5rem 5px;
    margin: 0 0 4px;
}
.message-recipients {
    background: none repeat scroll 0 0 #FFFFFF;
    border-bottom: 1px solid rgba(0, 0, 0, 0.1);
}
.message-to, .message-from {
    margin: 0 .5rem;
    line-height: 1.75;
}
.message-label {
    color: rgba(0, 0, 0, 0.5);
    font-weight: normal;
}
.message-subject-content {
    border: none;
    font-size: 1rem;
    padding: .5rem;
    width: 100%;
}

.message-body-content {
    border: none;
    height: 10rem;
    padding: 1rem;
    width: 100%;
}

.message-send {
    display: inline-block;
    margin: 0.25rem;
}